*.log
**/.sass-cache/
/node_modules/
*.sh
.vscode/

.DS_Store
.tweetcache
/wp-content/advanced-cache.php
/wp-content/aiowps_backups/
/wp-content/plugins/all-in-one-wp-security-and-firewall/backups/
/wp-content/plugins/all-in-one-wp-security-and-firewall/logs/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/mysql.sql
wp-config.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/web.config
/*.sln
/*.phpproj*
#/.src
#compilerconfig.json
#compilerconfig.json.defaults

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.vs

/vendor/
/wp-content/themes/sage/vendor
/wp-content/uploads - Copy
/.htaccess
/wp-content/cache
/wp-content/object-cache.php
/wp-content/mu-plugins
/_wpeprivate
