*.log
**/.sass-cache/
.DS_Store
.tweetcache
/wp-content/aiowps_backups/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/mu-plugins/
/wp-config.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/web.config
/*.sln
/*.phpproj*
#/.src
/node_modules/

/vendor/
/.htaccess
/wp-content/mysql.sql
/wp-content/object-cache.php
/sql_log.txt
/*.vs
/wp-content/themes/northpoint/node_modules
/_wpeprivate
*.mp4
reset_local_db.sh
reset_central_db.sh
*-e
.DS_Store
.DS_Store
